* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.nft {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

.nft_card {
    margin: 0 auto;
    width: 320px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.nft_preview {
    margin: 0 1em;
    padding: 10px;
    line-height: 51px;
}


.nft_overlay {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.nft_overlay img {
    border-radius: 18px;
}



.overlay {
    background-color: aqua;
    opacity: 40%;
    position: absolute;
    top: 0;
    bottom: 2px;
    left: 0;
    right: 0;
    border-radius: 1rem;
    display: none;
}

.view {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(230%, -50%);
    display: none;
}

.nft_overlay:hover .overlay,
.nft_overlay:hover .view {
    display: block;
}



.nft_content h1 {
    color: aliceblue;
    font-size: 25px;
    padding-top: 19px;
    padding-bottom: 22px;
    cursor: pointer;

}

.nft_content h1:hover {
    color: aqua;
}

.nft_content p {
    line-height: 22px;
    padding-bottom: 16px;
    color: rgb(135, 136, 138);

}

.nft_details {
    color: aqua;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1px;
    text-align: center;
    border-bottom: 1px solid rgb(135, 136, 138);
    cursor: pointer;


}

.nfh_eht--amount span {
    padding: 6px;
    font-size: 16px;
    color: aqua;
}

.nft_clock span {
    padding: 2px;
    font-size: 17px;
    color: rgb(135, 136, 138);

}

.nft_clock span:hover {
    color: aqua;
}

.nfh_eht--amount span:hover {
    color: aqua;
}

.nft_user--profile img {
    width: 37px;
    height: auto;
    float: left;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 17px;
    cursor: pointer;

}

.nft_user--profile p {
    padding-top: 10px;
    padding-left: 58px;
    font-size: 16px;
    color: rgb(135, 136, 138);
    cursor: pointer;

}

span {
    color: aliceblue;
}

span:hover {
    color: aqua;
}